<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .img {
        height: 35vh;
        background-image: url("view/public/images/403.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        margin: 18vh auto 50px;
    }
    
    p {
        color: coral;
        font-size: 30px;
        text-align: center;
    }
    
    p a {
        color: cornflowerblue;
        font-size: 25px;
        cursor: pointer;
    }
</style>

<body>
    <div class="img"></div>
    <p>您无权访问此页面</p>
    <p><a href="http://localhost:8080">去登陆</a></p>
</body>

</html>