<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统管理页</title>
    <link href="view/public/css/login.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="view/public/css/home.css">
    <script src="view/public/vue.js"></script>
    <script src="view/public/axios.js"></script>
    <script src="view/public/js/iconfont.js"></script>
    <script src="view/public/js/home.js"></script>
    <style>
        .icon {
            width: 23px;
            height: 23px;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="all">
        <div class="top">
            <div class="topLeft">
                <span>员工工资管理</span>
            </div>
            <div class="topRight">
                <span class="loginMsg">欢迎：<label v-text="username"></label></span>
                <span class="loginMsg" @click="exit()">退出登录<svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-CRM_icon_tuichu"></use>
            </svg></span>

            </div>
        </div>

        <div class="main">
            <div class="navLeft">
                <p class="nowTimes">{{realTime}}</p>
                <ul class="my_ui">
                    <li v-for="(tab,i) in lis[type]" @click="toIfream(tab,i)" :class="{bg:i==iframeIndex}">
                        <svg class="icon" aria-hidden="true">
                    <use :xlink:href="tab.icon"></use>
                </svg>&nbsp;&nbsp;&nbsp;&nbsp;{{tab.text}}
                    </li>
                </ul>
            </div>
            <div class="iframe">
                <iframe :src="iframes[iframeIndex]"></iframe>
            </div>
        </div>
    </div>
</body>

</html>