<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统管理页</title>
    <link href="view/public/css/login.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="public/css/home.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="top">
        <div class="topLeft">
            <span>员工工资管理</span>
        </div>
        <div class="topRight">
            <span class="loginMsg"><label>欢迎：</label>安耀锋</span>
            <span class="loginMsg">退出登录</span>
        </div>
    </div>

    <div class="main">
        <div class="navLeft">
            <ul class="my_ui">
                <li v-for="(tab,i) in lis" @click="toIfream(tab,i)" :class="{'bg':tab.showBg}">{{tab.text}}</li>
            </ul>
        </div>
        <div class="iframe">
            <iframe :src="iframes[iframeIndex]"></iframe>
        </div>
    </div>
</body>


<script>
    window.onload = function () {
        new Vue({
            el: '.main',
            data: {
                active: true,
                bg:'',
                iframeIndex:0,
                lis: [
                    {text:'主页',showBg:true}
                    , {text:'部门管理',showBg:false}
                    , {text:'员工管理',showBg:false}
                    , {text:'工资单修',showBg:false}
                    , {text:'工资管理',showBg:false}
                    , {text:'个人信息',showBg:false}
                    , {text:'发布消息',showBg:false}
                ],
                iframes:[
                    'homeChild.html',
                    'view/manageDepartment.html',
                    'view/manageStaff.html',
                    'view/manageStaff.html',
                    'view/manageStaff.html',
                    'view/homeChild.html',
                    'view/homeChild.html',
                ]
            },
            methods: {
                toIfream(tab,i) {
                    this.lis.forEach(function(item){
                        item.showBg = false;
                    })
                    this.iframeIndex = i;
                    tab.showBg = true;
                }
            }
        })
    }
</script>

</html>