<!DOCTYPE html>
<html>

<head>
    <title>员工工资管理系统</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="public/css/login.css" rel="stylesheet" type="text/css">
    <script src="public/jquery.min.js"></script>
</head>

<body>

    <div class="login">
        <form action="" method="post" id="form">
            <div class="logo">
                <p>员工工资管理系统</p>
            </div>
            <div class="login_form">
                <div class="user">
                    <input class="text_value" value="" name="username" type="text" id="id" placeholder="工号" >
                    <input class="text_value" value="" name="password" type="password" id="password" placeholder="密码" >
                </div>
                <button class="button" id="submit" type="submit" onclick="toLogin()">登录</button>
            </div>
            <div id="tip">
                <p >快快乐乐上班，高高兴兴回家！</p>
            </div>
        </form>
    </div>

    <script>
       function toLogin(){
            var id = $('#id')[0].value,
                psd = $('#password')[0].value;
                console.log(id);
            if(!id || !psd){
                alert('工号或者密码不能为空');
            }
       }
    </script>

</body>

</html>