<!DOCTYPE html>
<html>

<head>
    <title>员工工资管理系统-登录</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="view/public/css/login.css" rel="stylesheet" type="text/css">
    <script src="view/public/vue.js"></script>
    <script src="view/public/axios.js"></script>
    <script src="view/public/js/login.js"></script>

</head>

<body>

    <div class="login">
        <!-- <form action="" method="post" id="form"> -->
        <div class="logo">
            <p v-text="logo"></p>
        </div>
        <div class="login_form">
            <div class="user">
                <input class="text_value" value="" name="username" type="text" id="username" placeholder="工号" v-model="id">
                <input class="text_value" value="" name="password" type="password" id="password" placeholder="密码" v-model="password">
            </div>
            <button class="button" id="submit" type="submit" @click="toLogin()">登录</button>
        </div>
        <div class="selectIdentity">
            <label for="admin">系统管理员</label> <input type="radio" name="identity" id="admin" value="0" v-model="radio">
            <label for="depAdmin">部门管理员</label> <input type="radio" name="identity" id="depAdmin" value="1" v-model="radio">
            <label for="employees">员工</label> <input type="radio" name="identity" id="employees" value="2" v-model="radio">
        </div>
        <!-- <div id="tip">
            <p v-text="tip"></p>
        </div> -->
        <!-- </form> -->
    </div>
</body>

</html>