<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/manageStaff.css">
</head>

<body>
    <div class="top">
        员工管理
    </div>
    <div class="search">
        <select name="" class="departmentSelect">
            <option value="-1">--选择部门--</option>
        </select>
    </div>
</body>

</html>