<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/manageStaff.css">
    <script src="public/vue.js"></script>
    <script src="public/axios.js"></script>
    <script src="public/js/xlsx.full.min.js"></script>
    <script src="public/js/manageStaff.js"></script>
    <script src="public/js/common.js"></script>
</head>

<body>
    <div class="all">
        <div class="top">
            员工管理
        </div>
        <div class="search">
            <select name="" class="departmentSelect" @change="change">
                <option>--所有部门--</option>
                    <option v-for="option in options" v-text="option"></option>
                </select>
            <button class="importBtn" @click="showM()">导入员工信息 </button>
            <p class="conditions">
                <span class="name">姓名：</span>
                <input type="text" v-model="employeesName">
                <span class="id">工号：</span>
                <input type="text" v-model="employeesID">
                <button @click="search()">搜索</button>
            </p>

            <!-- 弹出层 导入员工信息 -->
            <div class="mask" v-if="showSelf" @click="unshow()">
                <div class="importImp" @click.stop>
                    <!-- @cliak.stop 阻止事件冒泡-->
                    <div class="impTitle">导入员工信息</div>
                    <button @click="chouseExcel">选择文件</button>
                    <button @click="startImport">开始导入</button>
                    <p>文件路径:</p>
                    <p v-text='filename'></p>
                    <input type="file" ref="filElem" style="display:none" @change='getFileName'>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="operation">
                <button @click="showTfoot()">添加</button>
                <button class="outputBtn" @click="outputData">导出数据</button>
                <a href="" download="员工信息表.xlsx" id="downloadA"></a>
            </div>
            <div class="myTable">
                <table class="stafftable">
                    <thead>
                        <tr>
                            <th v-for="th in tableDataKeys" v-text='th.val'></th>
                            <th> 操作</th>
                        </tr>
                    </thead>
                    <tr v-for='(td,index) in tableData' v-if='!trUpdate[index]'>
                        <td v-for="key in tableDataKeys"> {{td[key.key]}} </td>
                        <td class="tdOperation">
                            <button class="updateBtn" @click="updateUser(index)">修改</button>
                            <button class="deleteBtn" @click="deleteUser(index)">删除</button>
                        </td>
                    </tr>
                    <tr v-else>
                        <td v-for="key in tableDataKeys">
                            <input type="text" v-model="td[key.key]" autofocus="autofocus" v-if="key.key == 'phone'">
                            <input type="text" v-model="td[key.key]" v-else>
                        </td>
                        <td class="tdOperation">
                            <button class="update" @click="toUpdateUser(index)">确定</button>
                            <button class="update" @click="unUpdateUser(index)">取消</button>
                        </td>
                    </tr>
                    <tfoot v-if="isShowTfoot">
                        <tr>
                            <td v-for="(data,i) in tableDataKeys" v-if="data.val == '部门'">
                                <select v-model="insertDatas[data.key]">
                                    <option value=""></option>
                                    <option v-for="(items,index) in options" v-if="index > 0" v-text="items.text">

                                    </option>
                                </select>
                            </td>

                            <td v-else-if="data.val == '职位'">
                                <select v-model="insertDatas[data.key]">
                                    <option v-for="(items,index) in titles" v-text="items.text">
                                    </option>
                                </select>
                            </td>
                            <td v-else>
                                <input type="text" v-model="insertDatas[data.key]">
                            </td>
                            <td class="tdOperation">
                                <button class="updateBtn " @click="toInserUser()">添加</button>
                                <button class="updateBtn " @click="unInsert()">取消</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</body>

</html>