<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/manageStaff.css">
    <link rel="stylesheet" href="public/css/manageWage.css">
    <script src="public/vue.js"></script>
    <script src="public/axios.js"></script>
    <script src="public/js/manageWage.js"></script>
</head>

<body>
    <div class="all">
        <div class="top">
            工资管理
        </div>
        <div class="content">
            <div class="operation">
                <button class="getNewTable" @click="makeWageData()">生成本月工资</button>
                <button class="insertNewTable" @click="insertWageData()">确定工资表</button>
            </div>
            <div class="myTable">
                <table class="wageTable">
                    <thead>
                        <tr>
                            <th v-for="item in th" v-text="item"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in wages">
                            <!-- 其它或者备注可编辑 即input输入框 其中others只能输入数字 -->
                            <td v-for="i in keys" v-if="i == 'others'">
                                <input type="number" v-model="item[i]" class="tdInput" @change="updateCount(index)" @contextmenu.prevent="rightShow(index)">
                            </td>
                            <!-- count 用v-model绑定 方便others改变时自动更改值（不可编辑） -->
                            <td v-else-if="i == 'count'">
                                <input type="text" v-model="item[i]" readonly="readonly">
                            </td>
                            <!-- 备注主要是 others的说明 -->
                            <td v-else-if="i == 'note'">
                                <input type="text" v-model="item[i]" @contextmenu.prevent="rightShow(index)">
                            </td>
                            <td v-text="item[i]" v-else></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tfoot">
                <button @click="updateWage()" class="updateWageBtn">提交修改</button>
            </div>
            <ul id="myul">
                <li @click="toall">应用到全部</li>
                <li @click="unshoeUl">取消</li>
            </ul>
        </div>
    </div>
</body>

</html>