* {
    margin: 0px;
    padding: 0px;
}

.all {
    width: 100%;
    height: 100%
}

.top {
    
    width: 100%;
    height: 60px;
    background-color: #ffffff;

}

.top .topLeft {
    float: left;
    width: 200px;
    height: 100%;
    text-align: center;
    border-right: 0px solid gray;
}

.top .topLeft span {
    display: block;
    height: 100%;
    line-height: 60px;
    color: rgb(2, 137, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.top .topRight {
    float: right;
    margin-right: 15px;
    height: 100%;
    width: 200px;
}

.top .topRight .loginMsg {
    display: inline-block;
    height: 100%;
    line-height: 45px;
    color: #757575;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
}

.main {
    width: 100%;
    height: 100%;
}

.main .navLeft {
    height: 100%;
    background: #ffffff;
    width: 200px;
    float: left;
  
}

.main .navLeft ul {
    list-style: none;
    width: 200px;
    height: 580px;
    background: #ffffff;
    overflow: hidden;
    margin-top: 60px;
}

.my_ui li {
    width: 170px;
    height: 60px;
    color: #474646;
    margin-left: 50px;
    text-align: left;
    line-height: 60px;
    border-bottom: 0px solid black;
    font-size: 17px;
    transition: all 0.3s
    /*变化时间0.3秒*/
}

.my_ui li:nth-child(7) {
    border-bottom: none;
}

.bg {
    background-color: #99ccff;
    height: 80px !important;
    text-align: center !important;
    line-height: 80px !important;
}

.iframe {

    box-shadow: -1px -1px 10px #888888;
    margin-left: 200px;
    height: 100%;
    width: calc(100% - 200px);

}

.iframe iframe {
    height: 100%;
    width: 100%;
    border: none;
}