*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 21px;
    width: 100%;
    height: 100%;
    background-color: #f3f6f8;
}
.c-content{
    
    background-color: #363636;
    height:100%;
    width: 100%;
    

}
.left-card{
    border-radius: 5px;
    background-color: #ffffff;
    width: 20%;
    float: left;
}
.right-card{
    border-radius: 5px;
    margin-left: 30px;
    background-color: #ffffff;
        float: left;
        width: 70%;
}
.left-content{
    padding: 25px;
}
.left-name{
    text-align: center;
    color: #5f5e5e;
    margin-top: 20px;
}
.left-font{
    text-align: center;
    color: #5f5e5e;
    margin-top: 30px;

}
.left-information{
    color: #5f5e5e;
    margin-top: 60px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.left-information p{
    line-height: 25px;
}
.left-title span{
    margin: 3px;
    float: left;
    padding: 3px;
    border: #2c2c2c 1px dashed;
    color: #474747;
}
.right-content{
    margin-bottom: 50px;
}
.tab-content{
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    line-height: 1;
    font-size: 15px;
}
.tab-items{
    display: inline-block;
    padding: 16px 15px;
    width: 80px;
    font-size: 18px;
    color: #3788ee;
    border-bottom: 3px solid #3788ee;
}
.right-detail{
    padding: 30px;
}
.right-detail label{
    
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #555;
    line-height: 1;
    padding: 9.5px 15px 9.5px 0;
    box-sizing: border-box;
}
.detail-name{
    height: 58px;
    margin-top: 15px;
}
.detail-div{
    
    padding: 15px;
}
.detail-div input{
    width:300px;
    height: 20px;
    padding: 5px;
}
.detail-describe{
    margin-top: 15px;
}
.name-error{
    
    margin-left: 130px;
    color: #ff2244;
}
.title-items{
        width: 400px;
    margin-left: 50px;
}
.title-items span{
    margin: 3px;
   
    display: inline-block;
    padding: 3px;
    border: #2c2c2c 1px dashed;
    color: #474747;
}
.title-items div{
    display: inline-block;
}
.items{
    margin: 15px;
}
.buttons{
    display: inline;
    margin-left: 35px;
}
.buttons button{
    background-color: #3788ee;
    border: none;
    color: #eee;
    font-family:Arial;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.password-error{
    color: #3788ee;
}